{% extends 'public/layout.html' %}

<!-- Title -->
{% block title %}Pathologies | {% endblock %}

<!-- BODY -->
{% block body %}
<!-- HEADER -->
{% include 'public/includes/header.html' %}

<!-- MAIN -->
<main class="results-list">
  <h1>Liste des pathologies</h1>

  <!-- Liste des pathologies -->
  <section id="list">
    {% if pathologies %}
      {% for pathology in pathologies %}
        <a href="/pathologie/{{ pathology.slug }}" class="item">
          <!-- <img src="/media/{{ pathology.image }}" alt="{{ pathology.name }}"> -->
          <p>{{ pathology.name }}</p>
        </a>
      {% endfor %}
    {% else %}
      <p>Aucune pathologie trouvée.</p>
    {% endif %}
  </section>
</main>

<!-- FOOTER -->
{% include 'public/includes/footer.html' %}

<!-- FIN DU BODY -->
{% endblock %}
