@use "settings";

// HERO
#hero {
  display: flex;
  flex-basis: 1 1;
  padding: 100px 50px;
  gap: 50px;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 576px) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    justify-content: center;

    span {
      background: settings.$primary;
      color: settings.$white;
      padding: 5px 10px;
      border-radius: 50px;

      @media screen and (max-width: 576px) {
        padding: 10px 15px;
        border-radius: 10px;
      }
    }
  }

  img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px settings.$black-shadow;

    @media screen and (max-width: 576px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  button {
    i {
      margin-right: 0;
    }
  }
}
